:root {

    /**********************
    ****** Options *******
    **********************/

    --border-radius-base: 4px;
    --border-radius-s: 2px;
    --border-radius-m: 6px;
    --border-radius-l: 8px;
    --border-radius-xl: 10px;
    --border-radius-xxl: 20px;

    --shadow-default: 0 2px 5px 0 rgba(0,0,0,0.05);


    /**********************************
    **** Decisions - Objects *******
    **********************************/


}
