:root {

    /**********************
    ****** Options *******
    **********************/
    --space-xxs: 2px;
    --space-xs: 5px;
    --space-s: 8px;
    --space-m: 16px;
    --space-l: 32px;
    --space-xl: 48px;
    --space-xxl: 64px;

    --space-default: var(--space-m);

    /**********************************
    **** Decisions - Objects *******
    **********************************/


}
