

<div class="header-panel">

    <div class="u-pd-l u-flex">
        <div class="u-flex">
            <div class="u-mg-m">Entreprise</div>
            <div class="u-mg-m">Catégories</div>
        </div>

        <div class="u-flex u-flex-end">
            <div class="u-mg-m">M'inscrire</div>
            <div class="u-mg-m">Me connecter</div>
        <div class="u-mg-m">Aide</div>
        </div>
    </div>

    <div class="u-pd-xxl u-flex u-flex-center-hz">
        <h1 class="header-title">Les meilleurs freelances<br>proches de vous</h1>
    </div>

    <div class="l-grid ">

        <div class="l-col-2"></div>
        <div class="l-col-3">
            <input class="form-control form-control-lg form-header" type="text" placeholder="Essayez Java / Angular ...">
        </div>
        <div class="l-col-3">
            <input class="form-control form-control-lg form-header" type="text" placeholder="Pays région ville ...">
        </div>
        <div class="l-col-2 button-validate-container">
            <button type="button" class="btn btn-danger button-validate">Rechercher</button>
        </div>
        <div class="l-col-2"></div>
    
    </div>
    
</div>

<div class="u-pd-xxl u-flex u-flex-center-hz">
    <h2 class="">Maîtrisez chaque étape de vos prestations freelance</h2>
</div>

<div class="u-flex u-flex-center text-container u-mg-hz-xxl">
    <div class="text">
        Trouvez des freelances sur mesure parmi nos milliers de profils vérifiés
    </div>
    <div class="text">
        Décidez ensemble des modalités du devis au contrat, et suivez l’ensemble de la mission sur Malt
    </div>
    <div class="text">
        Validez le paiement en fin de mission sur notre plateforme sécurisée
    </div>
</div>